// Navigation header
#navigation-header {
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100vw;

    & nav {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .938rem;

        & .logo {
            font-weight: bold;
            padding: 2rem 3.563rem;
        }

        & ul {
            display: flex;
            align-items: center;
            justify-content: center;

            & li {
                margin-right: 2rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    & .dropdown-select-container {
        width: 5rem;
        margin-right: 1.5rem;
        padding: .75rem;
        border-radius: 3.75rem;
    }
}

// Showcase
#showcase {
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 6.25rem 7.5rem;

    & .showcase-container {
        & .showcase-title {
            font-size: 4rem;
            margin-bottom: 3rem;
            line-height: 1.1;
            width: 70%;
        }

        & .showcase-content {
            width: 50%;
            line-height: 1.6;
            color: var(--light-gray);
            margin-bottom: 3rem;
        }

        & .showcase-button {
            padding: 1.25rem 4rem;
        }
    }
}