#navigation-header {
  background: var(--white);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}
#navigation-header nav {
  font-size: 0.938rem;
}
#navigation-header nav .logo {
  font-weight: bold;
  text-decoration: none;
  color: var(--dark-gray);
  padding: 2rem 3.563rem;
}
#navigation-header nav ul {
  margin: 0;
  padding: 0;
}
#navigation-header nav ul li {
  margin-right: 2rem;
}
#navigation-header nav ul li:last-child {
  margin-right: 0;
}
#navigation-header nav ul li .nav-item {
  text-decoration: none;
  color: var(--dark-gray);
}
#navigation-header .dropdown-select-container {
  margin-right: 1.5rem;
  border-radius: 3.75rem;
}

#showcase {
  background: var(--secondary-color);
  height: 100vh;
  padding: 6.25rem 7.5rem;
  margin-bottom: 7.5rem;
}
#showcase .showcase-container {
  width: 40%;
}
#showcase .showcase-container .showcase-title {
  font-size: 4rem;
  line-height: normal;
  margin-bottom: 3rem;
}
#showcase .showcase-container .showcase-content {
  line-height: 1.6;
  color: var(--light-gray);
  margin-bottom: 3rem;
}
#showcase .showcase-container .showcase-button {
  padding: 1.25rem 4rem;
}

#timeline .cards-container {
  width: 1280px;
}
#timeline .cards-container .card {
  position: relative;
  max-width: 500px;
  border: none;
}
#timeline .cards-container .card:nth-child(even) {
  margin-left: 50%;
}
#timeline .cards-container .card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: dashed var(--primary-color);
}
#timeline .cards-container .card:nth-child(1)::before {
  width: 27%;
  bottom: 50%;
  left: 100%;
  border-width: 3px 0 3px 3px;
}
#timeline .cards-container .card:nth-child(2n)::before {
  top: -51%;
  bottom: 100%;
  border-width: 3px 3px 0 0;
  border-radius: 0 50px 0 0;
}
#timeline .cards-container .card:nth-child(3)::before {
  top: -51%;
  bottom: 100%;
  left: 50%;
  width: 77%;
  border-width: 3px 0 0 3px;
  border-radius: 50px 0 0 0;
}
#timeline .cards-container .card:nth-child(4)::before {
  width: 77%;
  right: 50%;
}
#timeline .cards-container .card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}
#timeline .cards-container .card .info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border: 2px solid var(--primary-color);
  border-radius: 1.875rem;
  padding: 2rem;
}
#timeline .cards-container .card .info span {
  color: var(--primary-color);
  font-size: 0.938rem;
  margin-bottom: 0.5rem;
}
#timeline .cards-container .card .info .title {
  color: var(--dark-gray);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}
#timeline .cards-container .card .info p {
  font-size: 1.125rem;
  line-height: 1.6;
}

#testimonial .carousel {
  width: 50%;
}
#testimonial .carousel .carousel-item {
  position: relative;
  width: 100%;
}
#testimonial .carousel .carousel-item .person {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
#testimonial .carousel .carousel-item .person .about * {
  margin-bottom: 0;
}
#testimonial .carousel .carousel-item .person .about .name {
  font-size: 1.125rem;
  color: var(--dark-gray);
}
#testimonial .carousel .carousel-item .person .about .position {
  font-size: 1rem;
  color: var(--medium-gray);
}
#testimonial .carousel .carousel-item .testimonial {
  font-size: 1.5rem;
  color: var(--dark-gray);
}
#testimonial .carousel-control-next, #testimonial .carousel-control-prev {
  width: 50px;
  height: 50px;
  border: 1px solid var(--light-gray);
  border-radius: 50%;
  position: absolute;
  filter: contrast(100%);
}
#testimonial .carousel-control-next:hover, #testimonial .carousel-control-prev:hover {
  border: 1px solid var(--primary-color);
}
#testimonial .carousel-control-next .carousel-control-next-icon, #testimonial .carousel-control-next .carousel-control-prev-icon, #testimonial .carousel-control-prev .carousel-control-next-icon, #testimonial .carousel-control-prev .carousel-control-prev-icon {
  filter: contrast(0);
}
#testimonial .carousel-control-next {
  left: -90%;
  top: 100%;
}
#testimonial .carousel-control-prev {
  left: -100%;
  top: 100%;
}

#questions .questions-wrapper {
  width: 80%;
  margin: 0 auto;
}
#questions .questions-wrapper .qa-section {
  width: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 1.25rem;
  padding: 2rem;
  margin-bottom: 1rem;
}
#questions .questions-wrapper .qa-section:last-child {
  margin-bottom: 0;
}
#questions .questions-wrapper .qa-section .question {
  font-size: 1.5rem;
  margin-bottom: 0;
  color: var(--dark-gray);
}
#questions .questions-wrapper .qa-section .answer {
  font-size: 1rem;
  color: var(--medium-gray);
  display: none;
}
#questions .questions-wrapper .qa-section .answer[data-menu-state=enabled] {
  display: block;
  margin-bottom: 0;
  width: 70%;
}
#questions .questions-wrapper .qa-section .toggle-button {
  border: none;
  background: none;
  font-size: 2rem;
}
#questions .questions-wrapper .qa-section .question, #questions .questions-wrapper .qa-section .toggle-button {
  display: flex;
}

#contact-form.contact-form-container {
  background: var(--secondary-color);
  margin-bottom: 0;
  padding: 7.5rem;
}
#contact-form.contact-form-container .left-side-container {
  width: 40%;
}
#contact-form.contact-form-container .left-side-container .title-container {
  margin-bottom: 3rem;
}
#contact-form.contact-form-container .right-side-container {
  width: 45%;
  padding: 5rem;
  background: var(--white);
  border: 2px solid var(--primary-color);
  border-radius: 1.25rem;
}
#contact-form.contact-form-container .right-side-container .form-group {
  margin-bottom: 1.5rem;
}
#contact-form.contact-form-container .right-side-container .form-control, #contact-form.contact-form-container .right-side-container textarea {
  border: 1px solid var(--light-gray);
  border-radius: 3px;
  padding: 0.5rem 1rem;
}
#contact-form.contact-form-container .right-side-container .form-control:focus, #contact-form.contact-form-container .right-side-container textarea:focus {
  outline: 0;
  border: 2px solid var(--primary-color);
  box-shadow: none;
}
#contact-form.contact-form-container .right-side-container textarea {
  margin-bottom: 2.5rem;
}
#contact-form.contact-form-container .right-side-container .button {
  margin: 0 auto;
  padding: 0.813rem 4rem;
}/*# sourceMappingURL=index.css.map */