@media screen and (min-width: 320px) and (max-width: 480px) {
#showcase {
    padding: 10rem 2rem 2rem;
    margin-bottom: 2rem;
    flex-direction: column;

    & .showcase-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & .showcase-title {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        & .button {
            margin-bottom: 2rem;
        }

        & .showcase-image {
            width: 70%;
            height: 70%;
        }
    }
}

#timeline {
    & .cards-container {
        & .card {
            max-width: 300px;
            margin: 0 0 2rem;

            :last-child {
                margin: 0;
            }

            &::before,
            &::after {
                display: none;
            }
    
            &:nth-child(even) {
                margin-left: 0;
            }
        }
    }
}

.wrapper-container {
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.main-title {
    font-size: 2rem
}
}

@media screen and (min-width: 481px) and (max-width: 768px) {

}