:root {
    --primary-color: #6248FF;
    --secondary-color: rgba(98, 72, 255, .08);
    --light-purple: #7181FC;
    --red: #EB5757;
    --green: #0EAC00;
    --dark-gray: #333;
    --medium-gray: #4F4F4F;
    --light-gray: #828282;
    --white: #fff;
    --black: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--dark-gray);
}

li {
    list-style: none;
}

body {
    background: var(--white);
    color: var(--dark-gray);
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    cursor: pointer;
    font-size: .875rem;
    text-transform: uppercase;
    padding: .813rem 1.5rem;
    border: none;
    border-radius: 3.75rem;
    background: var(--primary-color);
    color: var(--white);

    &:hover {
        background: var(--light-purple);
    }
}

.wrapper-container {
    padding: 0 7.5rem;
    margin-bottom: 7.5rem
}

.main-title {
    font-size: 3.5rem;
}

.highlighted-text {
    max-width: fit-content;
    background: var(--secondary-color);
}

.main-title.highlighted-text {
    margin-bottom: 4.25rem;
}